APP_NAME=SafeMarket
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=fr
APP_FALLBACK_LOCALE=en

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

# Campay Mobile Money Gateway (DEMO)
CAMPAY_USERNAME=2ljKGCouYKiLLY7pEwOx4GjY4-vbV2Lg0c8vx5WgmWlNYD1P4gu3A7wnOCv0TKgOIEzyuXbp2rMEG4BvEppjOg
CAMPAY_PASSWORD=EpcbfN83cBC643cuKifca4Yym1gcG8FP3htWhpIaLliyaA-n30IzrSNpjuFzj3Ahl2KUD9svZc-OesqxSINkfg
CAMPAY_ENVIRONMENT=demo
CAMPAY_DEMO_AUTO_CONFIRM=true
